<div class="min-h-screen bg-zinc-100">
  <div class="flex justify-evenly p-6">

    <app-column title="Pendente" [tasks]="pendingTasks" dropListId="pendente" [connectedTo]="['andamento', 'concluido']"
      (selectTask)="onEditTask($event)" (deleteTask)="onDeleteTask($event)"
      (taskDropped)="onTaskDropped($event, TaskStatus.Pendente)">
    </app-column>

    <app-column title="Em andamento" [tasks]="progressTasks" dropListId="andamento"
      [connectedTo]="['pendente', 'concluido']" (selectTask)="onEditTask($event)" (deleteTask)="onDeleteTask($event)"
      (taskDropped)="onTaskDropped($event, TaskStatus.EmAndamento)">
    </app-column>

    <app-column title="Concluído" [tasks]="doneTasks" dropListId="concluido" [connectedTo]="['pendente', 'andamento']"
      (selectTask)="onEditTask($event)" (deleteTask)="onDeleteTask($event)"
      (taskDropped)="onTaskDropped($event, TaskStatus.Concluido)">
    </app-column>

  </div>
</div>