<div class="min-h-screen bg-zinc-100">

  <div class="flex justify-between items-center px-6 pt-6">
    <h1 class="text-xl font-semibold text-zinc-800">
      Task Board
    </h1>

    <button (click)="openModal()"
      class="bg-green-600 text-white text-sm px-4 py-2 rounded hover:bg-green-700 transition">
      + Nova Task
    </button>
  </div>

  <app-board (editTask)="openEditModal($event)"></app-board>

  <div *ngIf="isCreateModalOpen" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
    <div class="relative w-full max-w-xl mx-4">
      <button class="absolute top-4 right-4 text-zinc-400 hover:text-zinc-600" (click)="closeModal()">
        ✕
      </button>

      <app-task-form [task]="selectedTask" [isEditMode]="isEditMode"
        (submitTask)="onSubmitTask($event)"></app-task-form>

    </div>
  </div>


</div>