<form class="bg-white w-full max-w-x1 rounded-xl p-8 shadow-lg border border-zinc-100" (ngSubmit)="onSubmit()">
  <div class="mb-6">
    <h2 class="text-lg font-semibold text-zinc-800">
      {{ isEditMode ? 'Editar Tarefa' : 'Nova Tarefa' }}
    </h2>
    <p class="text-sm text-zinc-500">
      {{ isEditMode ? 'Atualize os dados da tarefa' : 'Preencha os dados da tarefa' }}
    </p>

  </div>

  <div class="mb-4">
    <label class="block text-xs font-medium text-zinc-600 mb-1">
      TÍTULO
    </label>
    <input type="text" [(ngModel)]="titulo" name="titulo" required class="w-full rounded-md border border-zinc-300 px-3 py-2 text-sm
             focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Ex: Ajustar layout do dashboard" />
  </div>

  <div class="mb-4">
    <label class="block text-xs font-medium text-zinc-600 mb-1">
      DESCRIÇÃO
    </label>
    <textarea [(ngModel)]="descricao" name="descricao" rows="3" class="w-full rounded-md border border-zinc-300 px-3 py-2 text-sm
             focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Descreva a tarefa com mais detalhes"></textarea>
  </div>


  <div class="flex justify-end gap-3">
    <button type="submit" class="bg-blue-600 text-white text-sm px-5 py-2 rounded-md
             hover:bg-blue-700 transition font-medium">
      {{ isEditMode ? 'Salvar' : 'Criar tarefa' }}
    </button>

  </div>
</form>